/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
$color-primary-main: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-white: white;
$color-black: black;
$right: 6rem;
$left-col: calc((100%-#{$right})/2);
$yellow: #ffb900;
$orange: #ff7730;
$blue-light: #2998ff;
$blue-dark: #5643fa;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}
.header{
    height: 95vh;
    background-image:  linear-gradient(to right bottom ,rgba($color-primary-light, 0.8) , rgba($color-primary-dark, 0.8)), url(./Images/hero.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}
.logo{
    height: 3.5rem;
    width: 3.5rem;
    &:hover{
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        height: 4rem;
        width: 4rem;
        position: absolute;
    }
    &-box{
        position: absolute;
        top: 2rem;
        left: 3rem;
    }
}
.heading{
    position: absolute;
    top: 27%;
    left: 33%;
    text-align: center;
    &-main{
        color: $color-white;
        display: block;
        font-size: 5.7rem;
        font-weight: 300;
        letter-spacing: 1.8rem;
        animation-name: moveleft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        &:hover{
            color: aqua;
            transform: scale(1.05);
        }
    }
    &-sub{
        color: $color-white;
        display: block;
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: .8rem;
        animation-name: moveright;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        &:hover{
            color: aqua;
            transform: scale(1.05);
        }
    }
}

.button{
    background-color: $color-white;
    display: inline-block;
    animation-name: moveup;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    &:link,
    &:visited{
        text-decoration: none;
        color: #777;
        background-color:$color-white;
        display: inline-block;
        padding: 1.2rem;
        margin-top: 5rem;
        border-radius: 10rem;
        position: relative;
    
    }
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
    }
}
.section-about{
    background-color: #f7f7f7;
    padding: 20rem 0;
    margin-top: -20vh;
    height: 115vh;
}
.sechead{
    text-align: center;
    margin-bottom: 8rem;
}
.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}
.row{
    //margin-bottom: 8rem;
    max-width: 114rem;
    margin: 0 auto;
    &:not(:last-child){
        margin-bottom: 8rem;
    }
    .col-1{
        background-color: #f7f7f7;
        //margin-right: $right;
        width: $left-col;
        float: left;
        margin-right: $right;
        display: inline-block;
    }
    .col-2{
        width: 51rem;
        float: left;
        background-color: #f7f7f7;
    }
    .co{
        background-color: rgba($color-white, 0.8);
        width: 24rem;
        float: left;
        text-align: center;
        border-radius: 5px;
        font-size: 1.5rem;
        padding: 2.5rem;
        &:not(:last-child){
            margin-right: 6rem;
        }
        transition: all 0.2s;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        &:hover{
            transform: translateY(-1.5rem) scale(1.05);
        }
    }
    .c{
        background-color: #f7f7f7;
        width: 34rem;
        float: left;
        &:not(:last-child){
            margin-right: $right;
        }
    }


}
.heading-tertiary{
    font-size: 1.6rem;
    font-family: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
.paragraph{
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 1.5rem;
    }
}
.btn-text {
    &:link,
    &:visited {
        font-size: 1.6rem;
        color: $color-primary-main;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary-main;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary-main;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-5px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}
.imgs{
    position: relative;
    &:hover .photo:not(:hover){
        transform: scale(0.9) skewX(10deg) translateY(-.5rem);
    }
}
.photo{
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    outline-offset: 2rem;
    &:hover{
        transform: scale(1.05);
        z-index: 20;
        box-shadow: 0 2rem 4rem rgba($color-black, .5);
        outline: 1.5rem solid $color-primary-main;
    }

}
.p1{
    left: 0;
    top: -2rem;
}
.p2{
    right: 0;
    top: 2rem;
}
.p3{
    left: 20%;
    top: 10rem;
}
.section-features{
    background-image:  linear-gradient(to right bottom ,rgba($color-primary-light, 0.8) , rgba($color-primary-dark, 0.8)), url(./Images/nat-4.jpg);
    background-size: cover;
    padding: 17rem 0;
    //margin-top: -20vh;
    height: 90vh;
    transform: skewY(-6deg);
    & > *{
        transform: skewY(6deg);
    }
    margin-top: -8rem;
}
.icon{
    display: inline-block;
    background-color: $color-primary-main;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6rem;
    margin-bottom: .5rem;
}
.section-tours{
    margin-top: -8rem;
    background-color: #f7f7f7;
    padding: 23rem 0;
    height: 130vh;
}
.heading-fourth{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
}
.card{
    perspective: 150rem;
    position: relative;
    height: 52rem;
    &__side{
        height: 52rem;
        transition: all 0.8s ease;
        &-front{
            background-color: white;
        }
        &-back{
            background-color: green;
            transform: rotateY(180deg);
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    }
    &:hover &__side-front{
        transform: rotateY(-180deg);
    }
    &:hover &__side-back{
        transform: rotateY(0);
    }
    &__pic{
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }
    &__list{
        padding: 3rem;
        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;
                li{
                    text-align: center;
                    font-size: 1.5rem;
                    padding: 1rem;
                    &:not(:last-child){
                        border-bottom: 1px solid #eee;
                    }
                }
        }
    }
}
.card__heading{
    font-size: 2.8rem;
    font-weight: 300;
    color: white;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 1rem;
    text-transform: uppercase;
    width: 55%;
    padding: 1rem 1rem;
    -webkitbox-decoration-break: clone;
    box-decoration-break: clone;
    margin-right: 0;

}
.s1{
    
    padding-right: 1rem;
}
.s2{
    display: inline-block;
    padding-right: 1rem;
    
}
.s3{
    font-size: 2.5rem;
    padding-right: .3rem;
}
.s4{
    display: inline-block;
    padding-right: 4rem;
    font-size: 2.7rem;
}.s5{
    font-size: 2.7rem;
}
.s6{
    display: inline-block;
    font-size: 2.5rem;
}
.trekking{
    background-image: linear-gradient(to right bottom, rgba($yellow, 0.75), rgba($orange,0.75));
}
.pic-1{
    background-image: linear-gradient(to right bottom, $yellow, $orange ), url(./Images/nat-5.jpg);
} 
.forest{
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.75), rgba($color-primary-dark,0.75));
} 
.pic-2{
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark ), url(./Images/nat-6.jpg);
}
.snow{
    background-image: linear-gradient(to right bottom, rgba($blue-light, 0.75), rgba($blue-dark,0.75));
}
.pic-3{
    background-image: linear-gradient(to right bottom, $blue-light, $blue-dark ), url(./Images/nat-7.jpg);
}
.c1{
    background-image: linear-gradient(to right bottom, $yellow, $orange );
}
.c2{
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}
.c3{
    background-image: linear-gradient(to right bottom, $blue-light, $blue-dark);
}
@keyframes moveup{
    0%{
        opacity: 0;
        transform: translateY(10rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes moveleft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        opacity: 0.8;
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveright{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        opacity: 0.8;
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}